<!DOCTYPE html>


<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Todo App</title>

        <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

        <script>
          $( function() {
            $( "#sortable" ).sortable({
              revert: true
            });
            $( "#draggable" ).draggable({
              connectToSortable: "#sortable",
              helper: "clone",
              revert: "invalid"
            });
            $( "ul, li, div, p" ).disableSelection();
          } );
        </script>

    </head>

    <body>
        <div>
            To Do:
            <a href="{{ url_for('home') }}">Home</a>
            {% if current_user.is_anonymous %}
            <a href="{{ url_for('login') }}">Login</a>
            {% else %}
            <a href="{{ url_for('logout') }}">Logout</a>
            {% endif %}
        </div>
            {% block content %}{% endblock %}
    </body>

</html>